DEBUG=1
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cec_comex
DB_CONN_MAX_AGE=60
# DB_SCHEMA=public
# DB_SSLMODE=prefer

# Optional values to create the first superuser with scripts if needed.
# DJANGO_SUPERUSER_USERNAME=admin
# DJANGO_SUPERUSER_EMAIL=admin@example.com
# DJANGO_SUPERUSER_PASSWORD=change-me
